body {
  background-color: hsl(15, 6%, 42%);
  font-family:      "Open Sans", verdana, sans-serif;
}

.header {
  padding:          125px 0px;
  background-color: hsl(36, 100%, 99%);
  text-align:       center;
}

.content {
  padding:          70px 0px;
  background-color: hsl(36, 20%, 95%);
}

.footer {
  background-color: hsl(15, 6%, 42%);
}

.header h1 {
  position: relative;
  width:    575px;
  height:   215px;
  margin:   0px auto;
}

.circle,
.operator {
  position: absolute;
}

.circle {
  width:             215px;
  height:            215px;
  border-radius:     112.5px;
  background-repeat: no-repeat;
  text-indent:       -9999px;
  display:           inline-block;
}

.operator {
  height:         215px;
  line-height:    215px;
  vertical-align: top;
  display:        inline-block;
  font-weight:    normal;
  font-size:      22px;
  color:          #ffffff;
  z-index:        1;
}

.founderscard {
  left:                0px;
  background-image:    image-url("founderscard/founderscard.png");
  background-size:     110px 69px;
  background-position: center center;
  background-color:    hsla(48, 63%, 57%, 0.75);
}

.plus {
  left: 192px;
}

.safari {
  left:                180px;
  background-image:    image-url("founderscard/safari.png");
  background-size:     92px 100px;
  background-position: center 53px;
  background-color:    hsla(9, 65%, 62%, 0.75);
}

.equals {
  left: 371px;
}

.heart {
  left:                360px;
  background-image:    image-url("founderscard/heart.png");
  background-size:     88px 80px;
  background-position: center center;
  background-color:    hsla(167, 34%, 55%, 0.75);
}

.content .wrapper {
  width:  755px;
  margin: 0px auto;
}

.content .hook {
  margin-top:    0px;
  margin-bottom: 20px;
  font-weight:   300;
  font-size:     38px;
  color:         #877974;
}

.content .explanation {
  margin:      0px;
  line-height: 1.8;
  font-weight: 300;
  font-size:   21px;
  color:       #877974;
}

.content .divider {
  height:           1px;
  margin:           70px 0px;
  border:           none;
  background-color: hsl(0, 0%, 100%);
}

.download {
  width:            310px;
  margin-top:       9px;
  margin-right:     40px;
  height:           80px;
  line-height:      80px;
  border-radius:    3px;
  background-color: hsl(167, 34%, 55%);
  font-weight:      400;
  font-size:        28px;
  color:            #fffdfa;
  text-decoration:  none;
  text-align:       center;
  display:          block;
  float:            left;
}

.download i {
  margin-right:   7px;
  vertical-align: middle;
  font-size:      23px;
}

.sign_up {
  width:       400px;
  margin:      0px;
  line-height: 1.8;
  font-weight: 300;
  font-size:   18px;
  color:       #877974;
  display:     inline-block;
}

.sign_up a {
  font-weight:     400;
  text-decoration: none;
  color:           hsl(167, 34%, 55%);
}

.makers {
  width:      830px;
  margin:     0px auto;
  text-align: center;
}

.maker {
  margin:      0px 50px;
  font-size:   14px;
  line-height: 135px;
  color:       #ffffff;
}

.maker .website {
  margin-right:    30px;
  text-decoration: none;
  color:           #86decc;
}

.maker .twitter {
  padding:         10px 0px 10px 35px;
  background:      image-url("founderscard/twitter.png") no-repeat center left;
  background-size: 26px 22px;
  text-decoration: none;
  color:           #c0c5c4;
}

.photo img {
  vertical-align: middle;
}
