//= require normalize
//= require github
//= require_self
//= require symbolset/ss-social-regular

$large-breakpoint:       1040px;
$under-large-breakpoint: $large-breakpoint - 1;

@keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  animation-name:     fade-in;
  animation-duration: 0.75s;

  font-family: "Raleway", "Open Sans", Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  margin:   0px auto;
  position: relative;
}

.header .wrapper {
  max-width: 765px;
}

.work .wrapper {
  max-width: 1000px;
}

.blog .wrapper {
  max-width: 600px;
}

.footer .wrapper {
  max-width: 800px;
}

.header {
  position:         relative;
  background-color: hsl(30, 21%, 95%);
  padding:          40px 20px;

  @media screen and (min-width: $large-breakpoint) {
    padding: 130px 0px;
  }
}

.header.notch:after,
.work.notch:after {
  content: '';
  position:     absolute;
  left:         50%;
  margin-left:  -20px;
  bottom:       -20px;
  width:        0;
  height:       0;
  border-left:  20px solid transparent;
  border-right: 20px solid transparent;
}

.header.notch:after {
  border-top: 20px solid hsl(30, 21%, 95%);
}

.work.notch:after {
  border-top: 20px solid #ffffff;
}

.header .wrapper {
  display: flex;

  @media screen and (max-width: $under-large-breakpoint) {
    flex-direction: column;
  }
}

.header .avatar {
  text-align: center;

  @media screen and (min-width: $large-breakpoint) {
    margin-right: 49px;
  }
}

.header .avatar img {
  width:         215px;
  height:        215px;
  border-radius: 50%;
}

.header .name {
  font-weight: 200;
  font-size:   48px;
  color:       #746f65;

  @media screen and (max-width: 320px) {
    text-align: left;
  }

  @media screen and (max-width: 375px) {
    font-size: 40px;
  }

  @media screen and (min-width: 321px) and (max-width: $under-large-breakpoint) {
    text-align: center;
  }

  @media screen and (min-width: $large-breakpoint) {
    margin: 4px 0px 8px -4px;
  }
}

.bio {
  max-width:   500px;
  margin:      0;
  font-size:   18px;
  line-height: 1.7;
  color:       #746f65;

  @media screen and (max-width: 320px) {
    font-size: 16px;
  }

  @media screen and (min-width: 540px) and (max-width: $under-large-breakpoint) {
    margin: 0px auto;
  }
}

.links {
  display: flex;
  margin-top:    20px;
  margin-bottom: 0;
  padding:       0;
  list-style:    none;
  font-size:     40px;
  margin-left: -10px;

  @media screen and (max-width: 320px) {
    width: 290px;
  }

  @media screen and (min-width: 321px) and (max-width: $under-large-breakpoint) {
    width: 306px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.links .link {
  display: inline-flex;
  height: 40px;
}

.links span {
  display:     inline-block;
  text-indent: -9999px;
}

.links .link a {
  padding:   8px;
  color:     hsla(37,7%,79%,1);
  font-size: 16px;

  transition: color 0.15s ease;

  @media screen and (min-width: 375px) {
    font-size: 18px;
  }
}

.links .link [class="ss-rss"]:hover        { color: #f69942; }
.links .link [class="ss-twitter"]:hover    { color: #55acee; }
.links .link [class="ss-octocat"]:hover    { color: #4183c4; }
.links .link [class="ss-dribbble"]:hover   { color: #ea4c89; }
.links .link [class="ss-rdio"]:hover       { color: #006ed2; }
.links .link [class="ss-letterboxd"]:hover { color: #69cd31; }
.links .link [class="ss-pinterest"]:hover  { color: #cb2027; }
.links .link [class="ss-facebook"]:hover   { color: #3b5998; }
.links .link [class="ss-mail"]:hover       { color: #58bad9; }

.work {
  position: relative;
  padding:  40px 20px;

  @media screen and (min-width: $large-breakpoint) {
    padding: 130px 20px;
  }
}

.work .projects {
  margin:     0;
  padding:    0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (min-width: 700px) and (max-width: $under-large-breakpoint) {
    padding: 15px 2% 0 2%;
    margin-bottom: -15px;
  }

  @media screen and (min-width: $large-breakpoint) {
    margin-bottom: -15px;
  }
}

.work .project {
  margin-bottom: 10px;

  @media screen and (min-width: 700px) and (max-width: $under-large-breakpoint) {
    width: 48%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $large-breakpoint) {
    width: 490px;
    margin-bottom: 30px;
  }
}

.work .project:first-child {
  @media screen and (max-width: 699px) {
    margin-top: 0px;
  }
}

.work .project:last-child {
  @media screen and (max-width: 699px) {
    margin-bottom: 0px;
  }
}

.work .project a {
  @media screen and (min-width: $large-breakpoint) {
    text-align:  center;
    display:     inline-block;
    font-weight: 200;
    font-size:   18px;
    color:       #746f65;
  }
}

.work .project a img {
  width:         100%;
  border-radius: 4px;
}

.work .project a .name {
  margin-top: 15px;

  @media screen and (max-width: $under-large-breakpoint) {
    display: none;
  }
}

.blog {
  background-color: hsl(30, 21%, 95%);
  padding: 40px 20px;

  @media screen and (min-width: $large-breakpoint) {
    padding: 115px 0px;
  }
}

.blog .heading {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $large-breakpoint) {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
}

.blog .title {
  max-width: 440px;
  margin:      0;
  font-size:   40px;
  font-weight: 200;
  color:       #746f65;
}

.blog .date {
  font-size:  20px;
  color:      rgba(123, 117, 107, 0.6);

  @media screen and (min-width: $large-breakpoint) {
    margin-bottom: 4px;
  }
}

.blog .body {
  font-size: 18px;
  color:     #746f65;

  @media screen and (min-width: $large-breakpoint) {
    margin-top: 30px;
  }
}

.blog .body p {
  line-height: 1.7;

  @media screen and (min-width: $large-breakpoint) {
    margin-bottom: 0;
  }
}

.blog .body a {
  color: hsl(202, 79%, 47%);
}

.blog .body p:first-child {
  @media screen and (min-width: $large-breakpoint) {
    margin-top: 0;
  }
}

.blog .highlight {
  color:   #000000;
  opacity: 0.75;
}
