@import "../../node_modules/modern-normalize";
@import "./tofino.css";

:root {
  --gray-color: #555;
  --background-color: #fff;
  --card-background-color: #f8f8f8;
  --text-color: var(--gray-color);
  --text-hover-color: #000;
  --node-color: #52a15d;
  --ruby-color: #701516;
  --transition: all 100ms ease-in-out;
  --transform-scale: scale(1.05);
}

body.color-scheme-is-dark {
  --background-color: #222;
  --card-background-color: #ddd;
  --text-color: #ddd;
  --text-hover-color: #fff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

svg {
  height: 100%;
  width: 100%;
}

html {
  font-size: 21px;
}

body {
  animation-duration: 0.75s;
  animation-name: fade-in;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Tofino", "Open Sans", Verdana, sans-serif;
  padding: 0 1.5rem;
  transition: background-color 0.4s ease, color 0.4s ease;
  position: relative;
}
