<!DOCTYPE html>

<html>
<head profile="http://www.w3.org/2006/03/hcard">
  <meta charset="utf-8" />

  <title>Brandon Weiss, Web Developer</title>

  <link rel="icon" href="favicon.png" type="image/png" />
  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid.delegate" href="http://brandonweiss.myopenid.com/">

  <link rel="stylesheet" href="master.css" type="text/css" media="screen" />

  <script src="http://www.google.com/jsapi"></script>
  <script> google.load("jquery", "1"); </script>
  <script src="http://platform.twitter.com/anywhere.js?id=UAR4ct9QKvhVTsp8c9w&v=1"></script>

  <script>
    twttr.anywhere(function(twitter) {
      twitter("dl dd").hovercards({
        infer: true,
        expanded: true
      });
    });
  </script>

  <!--[if IE]>
    <script src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="page" class="vcard">
    <header>
      <h1 class="fn">Brandon Weiss</h1>
    </header>

    <div id="container">
      <article class="column">
        <h2>About Me</h2>

        <p>I am a <%= @age %> year old web developer living in Chicago.</p>
        <p>I love making new things, learning new things, and doing new things. I am probably a so-called “serial hobbyist.”</p>
        <p>I take unnatural pleasure in pruning my RSS feeds, removing Facebook friends, and freeing up hard disk space.</p>
        <p>I just <a href="http://typetees.threadless.com/product/1543/I_can_t_get_enough_minimalism">can’t get enough minimalism</a>.</p>
        <p>I am a vegetarian and have been so my entire life. But I do eat fish. I guess that makes me a pescetarian.</p>
        <p>I am <em>obsessed</em> with <a href="http://en.wikipedia.org/wiki/Snowboarding">the Shred</a>.</p>
        <p>I believe that <a href="http://37signals.com/svn/posts/1741-how-you-do-anything-is-how-you-do-everything">how you do anything is how you do everything</a>.</p>
        <p>I’m pretty much in love with everything Apple makes; I have a maxed out 15″ MacBook Pro from early 2010, an iPhone 3GS and sometime soon I'll be getting an iPad.</p>
        <p>I believe if something is easy it’s probably not worth doing.</p>
        <p><strike>I <a href="http://www.daretorant.com/?p=229">hate IE6</a> and will not develop for it on <a href="http://ie6nomore.com/">principle</a>.</strike> It's been so long I don't even remember what IE6 is any more. It's better this way.</p>
        <p>I believe the <a href="http://37signals.com/svn/posts/1626-the-most-powerful-word-is-no">word “no”</a> is not used nearly often enough.</p>
        <p>I really like writing lists.</p>
      </article>

      <aside class="column">
        <h2>Elsewhere</h2>
        <ul>
          <li class="tumblr"><a href="http://itstartswithscience.com"><span>Blog</span></a></li>
          <li class="twitter"><a href="http://twitter.com/brandon_weiss"><span>Twitter</span></a></li>
          <li class="facebook"><a href="http://facebook.com/brandon.weiss"><span>Facebook</span></a></li>
          <li class="gowalla"><a href="http://gowalla.com/brandonweiss"><span>Gowalla</span></a></li>
          <li class="github"><a href="http://github.com/brandonweiss"><span>GitHub</span></a></li>
          <li class="lanyrd"><a href="http://lanyrd.com/people/brandon_weiss"><span>Lanyrd</span></a></li>
          <li class="lastfm"><a href="http://www.last.fm/user/brandonweiss"><span>Last.fm</span></a></li>
          <li class="yelp"><a href="http://brandonweiss.yelp.com"><span>Yelp</span></a></li>
          <!-- <li class="gdgt"><a href="http://user.gdgt.com/brandonweiss/"><span>gdgt</span></a></li> -->
          <li class="vimeo"><a href="http://vimeo.com/brandonweiss"><span>Vimeo</span></a></li>
          <li class="amazon"><a href="http://www.amazon.com/wishlist/3CGRL6BINQRFR/"><span>Amazon Wish List</span></a></li>
        </ul>

        <h2>Contact</h2>
        <dl>
          <dt>Email</dt>
          <dd><a class="email" href="mailto:brandon@anti-pattern.com">brandon@anti-pattern.com</a></dd>

          <dt>Jabber</dt>
          <dd><a class="url" href="xmpp:brandon@anti-pattern.com">brandon@anti-pattern.com</a></dd>

          <dt>Twitter</dt>
          <dd><a class="url" href="http://twitter.com/brandon_weiss">@brandon_weiss</a></dd>
        </dl>
      </aside>

      <footer>
        <p>
          Inspired by <a href="http://timvandamme.com/">Tim Van Damme</a>. Icons by <a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Paul Robert Lloyd</a>.
          <span><q>Illusion is the first of all pleasures.</q> — <cite>Oscar Wilde</cite></span>
        </p>
      </footer>
    </div> <!-- /container -->
  </div> <!-- /page -->

  <script type="text/javascript">
    var clicky = { log: function(){ return; }, goal: function(){ return; }};
    var clicky_site_id = 261000;

    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/261000ns.gif" /></p></noscript>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-306010-3");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
