!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Brandon Weiss, Programmer

    %link{ :rel => 'openid.server', :href => 'http://www.myopenid.com/server' }
    %link{ :rel => 'openid.delegate', :href => 'http://brandonweiss.myopenid.com/' }

    %link{ :rel => 'shortcut icon', :href => '/favicon.png' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/master.css' }

    %script{ :src => 'http://www.google.com/jsapi' }
    :javascript
      google.load("jquery", "1");

    %script{ :src => 'http://platform.twitter.com/anywhere.js?id=UAR4ct9QKvhVTsp8c9w&v=1' }
    :javascript
      twttr.anywhere(function(twitter) {
        twitter("dl dd").hovercards({
          infer: true,
          expanded: true
        });
      });

    /[if IE]
      %script{ :src => 'javascripts/html5.js' }
  %body
    #page(itemscope itemtype='http://schema.org/Person')
      %header
        %img.hidden(itemprop='image' src='/images/avatar.png')
        %h1(itemprop='name') Brandon Weiss
        %p.hidden
          %span(itemprop='jobTitle') Programmer
          from
          %span(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')
            %span(itemprop='addressLocality') Chicago
      #container
        %article.column
          %h2 About Me

          %p I am a #{ @age } year-old programmer living in Chicago.
          %p I love making new things, learning new things, and doing new things. I am probably a so-called “serial hobbyist.”
          %p I take unnatural pleasure in pruning my RSS feeds, removing Facebook friends, and freeing up hard disk space.
          %p I <a href="http://typetees.threadless.com/product/1543/I_can_t_get_enough_minimalism">can’t get enough minimalism</a>.
          %p I am a vegetarian and have been my entire life. But I do eat fish. I guess that makes me a pescetarian.
          %p I am <em>obsessed</em> with <a href="http://en.wikipedia.org/wiki/Snowboarding">the Shred</a> (and most other boardsports).
          %p I believe that <a href="http://37signals.com/svn/posts/1741-how-you-do-anything-is-how-you-do-everything">how you do anything is how you do everything</a>.
          %p I’m pretty much in love with everything Apple makes.
          %p I believe if something is easy it’s probably not worth doing.
          %p <span class="strike">I <a href="http://www.daretorant.com/?p=229">hate IE6</a> and will not develop for it on <a href="http://ie6nomore.com/">principle</a>.</span> I hate IE7 and will not develop for it on principle. Watch yourself, IE8.
          %p I believe the <a href="http://37signals.com/svn/posts/1626-the-most-powerful-word-is-no">word “no”</a> is not used nearly often enough.
          %p I really like writing lists.

        %aside.column
          %h2 Projects

          %ul#projects
            %li(itemprop='memberOf' itemscope itemtype='http://schema.org/Organization')
              %a(itemprop='url name' href='http://cocolabs.co') Coconut Labs
            %li(itemprop='memberOf' itemscope itemtype='http://schema.org/Organization')
              %a(itemprop='url name' href='http://myze.us') MyZeus

          %h2 Elsewhere

          %ul#social
            %li.website
              %a(itemprop='url' href='http://anti-pattern.com')
                %span Blog
            %li.tumblr
              %a(itemprop='url' href='http://itstartswithscience.com')
                %span Tumblelog
            %li.twitter
              %a(itemprop='url' href='http://twitter.com/brandon_weiss')
                %span Twitter
            %li.facebook
              %a(itemprop='url' href='http://facebook.com/brandon.weiss')
                %span Facebook
            %li.foursquare
              %a(itemprop='url' href='https://foursquare.com/brandon_weiss')
                %span Foursquare
            %li.github
              %a(itemprop='url' href='http://github.com/brandonweiss')
                %span GitHub
            %li.forrst
              %a(itemprop='url' href='http://forrst.com/people/brandonweiss')
                %span Forrst
            %li.lanyrd
              %a(itemprop='url' href='http://lanyrd.com/people/brandon_weiss')
                %span Lanyrd
            %li.rdio
              %a(itemprop='url' href='http://www.rdio.com/people/brandonweiss')
                %span Rdio
            %li.vimeo
              %a(itemprop='url' href='http://vimeo.com/brandonweiss')
                %span Vimeo

          %h2 Contact

          %dl
            %dt Email
            %dd
              %a(itemprop='email' href='mailto:brandon@anti-pattern.com') brandon@anti-pattern.com

            %dt Jabber
            %dd
              %a(href='xmpp:brandon@anti-pattern.com') brandon@anti-pattern.com

            %dt Twitter
            %dd
              %a(href='http://twitter.com/brandon_weiss') @brandon_weiss
      %footer
        %p
          Inspired by <a href="http://timvandamme.com/">Tim Van Damme</a>. Icons by <a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Paul Robert Lloyd</a>.
          <span><q>Illusion is the first of all pleasures.</q> — <cite>Oscar Wilde</cite></span>

    :javascript
      var clicky = { log: function(){ return; }, goal: function(){ return; }};
      var clicky_site_id = 261000;

      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();

    <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/261000ns.gif" /></p></noscript>

    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4d63cbd0a219863d81000002');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
