!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Brandon Weiss, Web Developer

    %link{ :ref => 'openid.server', :href => 'http://www.myopenid.com/server' }
    %link{ :ref => 'openid.delegate', :href => 'http://brandonweiss.myopenid.com/' }

    %link{ :rel => 'shortcut icon', :href => '/favicon.png' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/master.css' }

    %script{ :src => 'http://www.google.com/jsapi' }
    :javascript
      google.load("jquery", "1");

    %script{ :src => 'http://platform.twitter.com/anywhere.js?id=UAR4ct9QKvhVTsp8c9w&v=1' }
    :javascript
      twttr.anywhere(function(twitter) {
        twitter("dl dd").hovercards({
          infer: true,
          expanded: true
        });
      });

    /[if IE]
      %script{ :src => 'javascripts/html5.js' }
  %body
    #page.vcard
      %header
        %h1.fn Brandon Weiss
        %p.hidden
          %span.role Web Developer
          from
          %span.address Chicago
      #container
        %article.column
          %h2 About Me

          %p I am a #{ @age } year old web developer living in Chicago.
          %p I love making new things, learning new things, and doing new things. I am probably a so-called “serial hobbyist.”
          %p I take unnatural pleasure in pruning my RSS feeds, removing Facebook friends, and freeing up hard disk space.
          %p I just <a href="http://typetees.threadless.com/product/1543/I_can_t_get_enough_minimalism">can’t get enough minimalism</a>.
          %p I am a vegetarian and have been so my entire life. But I do eat fish. I guess that makes me a pescetarian.
          %p I am <em>obsessed</em> with <a href="http://en.wikipedia.org/wiki/Snowboarding">the Shred</a>.
          %p I believe that <a href="http://37signals.com/svn/posts/1741-how-you-do-anything-is-how-you-do-everything">how you do anything is how you do everything</a>.
          %p I’m pretty much in love with everything Apple makes; I have a maxed out 15″ MacBook Pro from early 2010, an iPhone 3GS and sometime soon I'll be getting an iPad.
          %p I believe if something is easy it’s probably not worth doing.
          %p <strike>I <a href="http://www.daretorant.com/?p=229">hate IE6</a> and will not develop for it on <a href="http://ie6nomore.com/">principle</a>.</strike> It's been so long I don't even remember what IE6 is any more. It's better this way.
          %p I believe the <a href="http://37signals.com/svn/posts/1626-the-most-powerful-word-is-no">word “no”</a> is not used nearly often enough.
          %p I really like writing lists.

        %aside.column
          %h2 Projects

          %ul#projects
            %li
              %a{ :href => 'http://aristocrats.co' } The Aristocrats
            %li
              %a{ :href => 'http://myze.us' } MyZeus

          %h2 Elsewhere

          %ul#social
            %li.tumblr.url <a href="http://itstartswithscience.com"><span>Blog</span></a>
            %li.twitter.url <a href="http://twitter.com/brandon_weiss"><span>Twitter</span></a>
            %li.facebook.url <a href="http://facebook.com/brandon.weiss"><span>Facebook</span></a>
            %li.gowalla.url <a href="http://gowalla.com/brandonweiss"><span>Gowalla</span></a>
            %li.github.url <a href="http://github.com/brandonweiss"><span>GitHub</span></a>
            %li.lanyrd.url <a href="http://lanyrd.com/people/brandon_weiss"><span>Lanyrd</span></a>
            %li.lastfm.url <a href="http://www.last.fm/user/brandonweiss"><span>Last.fm</span></a>
            %li.yelp.url <a href="http://brandonweiss.yelp.com"><span>Yelp</span></a>
            %li.vimeo.url <a href="http://vimeo.com/brandonweiss"><span>Vimeo</span></a>
            %li.amazon.url <a href="http://www.amazon.com/wishlist/3CGRL6BINQRFR/"><span>Amazon Wish List</span></a>

          %h2 Contact

          %dl
            %dt Email
            %dd
              %a.email{ :href => 'mailto:brandon@anti-pattern.com' } brandon@anti-pattern.com

            %dt Jabber
            %dd
              %a{ :href => 'xmpp:brandon@anti-pattern.com' } brandon@anti-pattern.com

            %dt Twitter
            %dd
              %a{ :href => 'http://twitter.com/brandon_weiss' } @brandon_weiss
      %footer
        %p
          Inspired by <a href="http://timvandamme.com/">Tim Van Damme</a>. Icons by <a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Paul Robert Lloyd</a>.
          <span><q>Illusion is the first of all pleasures.</q> — <cite>Oscar Wilde</cite></span>

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-306010-3");
        pageTracker._trackPageview();
      } catch(err) {}
