<!DOCTYPE html>

<html>
<head profile="http://www.w3.org/2006/03/hcard">
	<meta charset="utf-8" />

	<title>Brandon Weiss, Web Developer</title>

	<link rel="icon" href="favicon.png" type="image/png" />
	<link rel="openid.server" href="http://www.myopenid.com/server">
	<link rel="openid.delegate" href="http://brandonweiss.myopenid.com/">
	
  <link rel="stylesheet" href="iphone.css" type="text/css" media="screen" />
</head>

<body>
	<div id="page" class="vcard">
		<header>
			<h1 class="fn">Brandon Weiss</h1>
		</header>

		<div id="container">
			<h2>Contact</h2>
			<dl>					
				<dt>Email</dt>
				<dd><a class="email" href="mailto:brandon@anti-pattern.com">brandon@anti-pattern.com</a></dd>
				
				<dt>IM</dt>
				<dd><a class="url" href="xmpp:brandon@cityatdusk.com">brandon@cityatdusk.com</a></dd>
				
				<dt>Phone</dt>
				<dd><a class="tel" href="tel:+1-773-788-6213">(773) 788–6213</a></dd>
			</dl>

			<h2>Elsewhere</h2>
			<ul>
				<li><a class="url" href="http://itstartswithscience.com"><span>Blog</span></a></li>
				<li><a class="url" href="http://twitter.com/brandon_weiss"><span>Twitter</span></a></li>
				<li><a class="url" href="http://facebook.com/brandon.weiss"><span>Facebook</span></a></li>
				<li><a class="url" href="http://gowalla.com/users/brandonweiss"><span>Gowalla</span></a></li>
				<li><a class="url" href="http://www.last.fm/user/brandonweiss"><span>Last.fm</span></a></li>
				<li><a class="url" href="http://brandonweiss.yelp.com"><span>Yelp</span></a></li>
				<li><a class="url" href="http://emberapp.com/brandonweiss"><span>Ember</span></a></li>
				<li><a class="url" href="http://user.gdgt.com/brandonweiss/"><span>gdgt</span></a></li>
				<li><a class="url" href="http://vimeo.com/brandonweiss"><span>Vimeo</span></a></li>
        <li><a class="url" href="http://www.amazon.com/wishlist/3CGRL6BINQRFR/"><span>Amazon Wish List</span></a></li>
			</ul>
		</div> <!-- /container -->
	</div> <!-- /page -->
	
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-306010-3");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>