<!DOCTYPE html>

<html>
<head profile="http://www.w3.org/2006/03/hcard">
	<meta charset="utf-8" />

	<title>Brandon Weiss, Web Developer</title>

	<link rel="icon" href="favicon.png" type="image/png" />
	<link rel="openid.server" href="http://www.myopenid.com/server">
	<link rel="openid.delegate" href="http://brandonweiss.myopenid.com/">
	
  <link rel="stylesheet" href="<%= @stylesheet %>" type="text/css" media="screen" />
  
	<script src="http://www.google.com/jsapi" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">	google.load("jquery", "1"); </script>

	<!--[if IE]>
		<script src="js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="page" class="vcard">
		<header>
			<h1 class="fn">Brandon Weiss</h1>
		</header>

		<div id="container">
			<article class="column">
				<h2>About Me</h2>
				
				<p>I am a <%= @age %> year old web developer living in Chicago.</p>
				<p>I love making new things, learning new things, and doing new things. I am probably a so-called “serial hobbyist.”</p>
				<p>I take unnatural pleasure in pruning my RSS feeds, removing Facebook friends, and freeing up hard disk space.</p>
				<p>I just <a href="http://typetees.threadless.com/product/1543/I_can_t_get_enough_minimalism">can’t get enough minimalism.</a></p>
				<p>I am a vegetarian and have been so my entire life. But I do eat fish. I guess that makes me a pescetarian.</p>
				<p>I believe that <a href="http://37signals.com/svn/posts/1741-how-you-do-anything-is-how-you-do-everything">how you do anything is how you do everything</a>.</p>
				<p>I really, really love my MacBook Pro, iPhone and Apple in general, but am not a fanboy. I just appreciate great design, quality and craftsmanship. Plus, there's an app for that, always.</p>
				<p>I believe if something is easy it’s probably not worth doing.</p>
				<p>I <a href="http://www.daretorant.com/?p=229">hate IE6</a> with a fiery, burning passion normally reserved for people who drive SUVs and people who litter (usually the same people).</p>
				<p>I believe the <a href="http://37signals.com/svn/posts/1626-the-most-powerful-word-is-no">word “no”</a> is not used nearly often enough.</p>
				<p>I really like writing lists.</p>
			</article>

			<aside class="column">
				<h2>Elsewhere</h2>
				<ul>
					<li><a class="url" href="http://itstartswithscience.com"><span>Blog</span></a></li>
					<li><a class="url" href="http://twitter.com/brandon_weiss"><span>Twitter</span></a></li>
					<li><a class="url" href="http://facebook.com/brandon.weiss"><span>Facebook</span></a></li>
					<li><a class="url" href="http://gowalla.com/users/brandonweiss"><span>Gowalla</span></a></li>
					<li><a class="url" href="http://www.last.fm/user/brandonweiss"><span>Last.fm</span></a></li>
					<li><a class="url" href="http://brandonweiss.yelp.com"><span>Yelp</span></a></li>
					<li><a class="url" href="http://emberapp.com/brandonweiss"><span>Ember</span></a></li>
					<li><a class="url" href="http://user.gdgt.com/brandonweiss/"><span>gdgt</span></a></li>
					<li><a class="url" href="http://vimeo.com/brandonweiss"><span>Vimeo</span></a></li>
          <li><a class="url" href="http://www.amazon.com/wishlist/3CGRL6BINQRFR/"><span>Amazon Wish List</span></a></li>
				</ul>
				
				<h2>Contact</h2>
				<dl>					
					<dt>Email</dt>
					<dd><a class="email" href="mailto:brandon@anti-pattern.com">brandon@anti-pattern.com</a></dd>
					
					<dt>IM</dt>
					<dd><a class="url" href="xmpp:brandon@cityatdusk.com">brandon@cityatdusk.com</a></dd>
					
					<dt>Phone</dt>
					<dd class="tel">(773) 788–6213</dd>
				</dl>
			</aside>

			<footer>
				<p>
					Inspired by <a href="http://timvandamme.com/">Tim Van Damme</a> and <a href="http://warpspire.com/hemingway/">Hemingway</a>.
					<span><q>Illusion is the first of all pleasures.</q> — <cite>Oscar Wilde</cite></span>
				</p>
			</footer>
		</div> <!-- /container -->
	</div> <!-- /page -->
	
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-306010-3");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>