body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 200%;
}

h1 {
	margin: 0px;
	text-transform: uppercase;
	font-size: 33px;
}

h2 { font-size: 20px; }


dl { line-height: 22px; }

dl dt,
dl dd {	text-align: right; }

dl dt {	float: left; }


ul {
	margin-top: 5px;
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

ul li a {
	padding: 8px 0px;
	text-decoration: none;
	border-bottom: 1px solid #000000;
	color: #000000;
	display: block;
}

ul li a span:after {
	content: "\0020 \2192";
	float: right;
}

ul li:first-child a { border-top: 0px solid #000000; }
ul li:last-child a { border-bottom: 0px solid #000000; }