article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

@-webkit-keyframes fade-in {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

body {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted #000000;
  color: #000000;
}

a:hover { border-bottom-style: solid; }

#page {
  width: 960px;
  margin: 0px auto 50px auto;
  overflow: hidden;
}

#container {
  padding: 0px 14px;
  overflow: hidden;
}

h1 {
  margin: 70px 0px 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 110px;
}

h2 {
  margin: 15px 0px 0px 0px;
  font-size: 24px;
}

p { margin: 15px 0px; }

.column { float: left; }

article { width: 630px; }

aside {
  width: 242px;
  margin-left: 60px;
}

aside ul {
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

aside ul li {
  background-repeat: no-repeat;
  background-position: 5px center;
}

aside ul li.tumblr { background-image: url('images/tumblr.png'); }
aside ul li.twitter { background-image: url('images/twitter.png'); }
aside ul li.facebook { background-image: url('images/facebook.png'); }
aside ul li.gowalla { background-image: url('images/gowalla.png'); }
aside ul li.github { background-image: url('images/github.png'); }
aside ul li.lanyrd { background-image: url('images/lanyrd.png'); }
aside ul li.last-fm { background-image: url('images/last-fm.png'); }
aside ul li.yelp { background-image: url('images/yelp.png'); }
aside ul li.ember { background-image: url('images/ember.png'); }
aside ul li.gdgt { background-image: url('images/gdgt.png'); }
aside ul li.vimeo { background-image: url('images/vimeo.png'); }
aside ul li.amazon-wish-list { background-image: url('images/amazon-wish-list.png'); }

aside ul li a {
  padding: 12px 0px 12px 50px;
  border-bottom: 1px dotted #000000;
  font-size: 15px;
  display: block;
}

aside ul li a:hover {
  padding-left: 53px;
  border-bottom-style: dotted;
}

aside ul li a span:after {
  content: "\0020 \2192";
  float: right;
}

aside ul li:first-child a { border-top: 0px; }
aside ul li:last-child a { border-bottom: 0px; }

aside dl {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
  line-height: 18px;
  text-align: right;
  float: left;
}

aside dl dt,
aside dl dd { padding: 3px 0px; }

aside dl dt {
  font-weight: bold;
  float: left;
}

aside dl dd {  font-size: 15px; }

footer {
  padding-top: 30px;
  clear: both;
}

footer p {
  padding: 10px 0px;
  border-top: 1px solid #000000;
}

footer p span { float: right; }
