@-webkit-keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

body {
  -webkit-animation-name:     fade-in;
  -webkit-animation-duration: 0.75s;

  /*background-color: hsl(40, 100%, 93%);*/
}

header {
  margin-top: 80px;
  text-align: center;
}

.content {
  width:      521px;
  margin:     0px auto;
  text-align: center;
}

.avatar {
  width:                 128px;
  height:                128px;
  margin:                0px auto;
  border-radius:         64px;
  -webkit-border-radius: 64px;
  -moz-border-radius:    64px;
  background-color:      #ffffff;
  background-image:      url(/assets/pixel-portrait.png);
  background-repeat:     no-repeat;
  background-position:   6px 2px;
  background-size:       128px 128px;
}

.avatar img {
  opacity: 0;
  filter:  alpha(opacity=0);
}


.bio {
  margin:      60px 0px;
  text-align:  left;
  font-size:   20px;
  line-height: 1.5;
}

.links {
  margin:     0px;
  padding:    0px;
  list-style: none;
  font-size:  40px;
}

.links .link {
  display: inline;
}

.links span {
  display:     inline-block;
  text-indent: -9999px;
}

a {
  color:           #0c83e0;
  text-decoration: none;
}
