article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

@-webkit-keyframes fade-in {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

body {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted #000000;
  color: #000000;
}

a:hover { border-bottom-style: solid; }

#page {
  width: 960px;
  margin: 0px auto 50px auto;
  overflow: hidden;
}

#container {
  padding: 0px 14px;
  overflow: hidden;
}

h1 {
  margin: 70px 0px 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 110px;
}

h2 {
  margin: 15px 0px 0px 0px;
  font-size: 24px;
}

p {
  margin: 15px 0px;
  line-height: 22px;
}

.hidden {
	position: absolute;
	left: -9999px;
}

.column { float: left; }
span.strike { text-decoration: line-through; }

article { width: 630px; }

aside {
  width: 242px;
  margin-left: 60px;
}

aside ul#projects {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

aside ul#projects li { margin: 5px 0px; }

aside ul#social {
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

aside ul#social li {
  background-repeat: no-repeat;
  background-position: 5px center;
}

aside ul#social li.website    { background-image: url('../images/website.png'); }
aside ul#social li.tumblr     { background-image: url('../images/tumblr.png'); }
aside ul#social li.twitter    { background-image: url('../images/twitter.png'); }
aside ul#social li.facebook   { background-image: url('../images/facebook.png'); }
aside ul#social li.foursquare { background-image: url('../images/foursquare.png'); }
aside ul#social li.plancast   { background-image: url('../images/plancast.png'); }
aside ul#social li.github     { background-image: url('../images/github.png'); }
aside ul#social li.forrst     { background-image: url('../images/forrst.png'); }
aside ul#social li.lanyrd     { background-image: url('../images/lanyrd.png'); }
aside ul#social li.rdio       { background-image: url('../images/rdio.png'); }
aside ul#social li.vimeo      { background-image: url('../images/vimeo.png'); }

aside ul#social li a {
  padding: 12px 0px 12px 50px;
  border-bottom: 1px dotted #000000;
  font-size: 15px;
  display: block;
}

aside ul#social li a:hover {
  padding-left: 53px;
  border-bottom-style: dotted;
}

aside ul#social li a span:after {
  content: "\0020 \2192";
  float: right;
}

aside ul#social li:first-child a { border-top: 0px; }
aside ul#social li:last-child a { border-bottom: 0px; }

aside dl {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
  line-height: 18px;
  text-align: right;
  float: left;
}

aside dl dt,
aside dl dd { padding: 3px 0px; }

aside dl dt {
  font-weight: bold;
  float: left;
}

aside dl dd {  font-size: 15px; }

footer {
  padding-top: 30px;
  clear: both;
}

footer p {
  padding: 10px 0px;
  border-top: 1px solid #000000;
}

footer p span { float: right; }
